---
---

/* general */

html {
    font-family: -apple-system, Helvetica, arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5em;
    text-size-adjust: 100%;
    padding: 6px;
}

a {
    color: rgba(0, 0, 0, 0.8);
}

/* remove underline during hover */
a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

/* remove padding and bullets of lists */
.clean-ul ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0px;
}

/* turn list horizontal with small margin */
.horizontal-li li {
    display: inline;
    margin-right: 5px;
}

.wrap {
    margin: 0 auto;
    min-width: 300px;
    max-width: 700px;
}

// nav bar

#author-name {
    font-size: 30px;
    color: #272727;
    display: inline-block;
}

#nav-links a:hover {
    font-weight: bold;
}

.nav {
    padding: 50px 0 50px 0;
}

.nav a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.nav-ul {
    display: inline-block;
    margin: 0;
    margin-left: 20px;
}

.nav-li {
    list-style-type: none;
    margin: 0 5px 0 10px;
}

.alignable {
    display: inline-block;
}

.pull-left {
    @extend .alignable;
    float: left;
}

.pull-right {
    @extend .alignable;
    float: right;
}

.project-index {
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.project-date {
    font-size: 12px;
    font-weight: bold;
}

.project-links {
    margin-top: 5px;
}

.bibliography {
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
}

.table-bordered {
    border-collapse: collapse;
    text-align: center;

> table, td, th {
    border: 1px solid black;
    }
}