html {
    font-family: -apple-system, Helvetica, arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5em;
    text-size-adjust: 100%;
    padding: 6px;
}

a {
    color: rgba(0, 0, 0, 0.8);
}

/* remove underline during hover */
a:hover {
    text-decoration: none;
}

/* remove padding and bullets of lists */
.clean-ul ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0px;
}

/* turn list horizontal with small margin */
.horizontal-li li {
    display: inline;
    margin-right: 5px;
}

.wrap {
    margin: 0 auto;
    max-width: 700px;
}

.nav {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 12px;
}

.nav a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.nav a:hover {
    font-weight: bold;
}

.project-index {
    margin-top: 5px;
    margin-bottom: 15px;
}

.project-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.project-title:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.project-date {
    font-size: 12px;
    font-weight: bold;
}

.project-links {
    margin-top: 5px;
}