<div class='nav wrap'>
    <a id='author-name' class='alignable pull-left' href='{{ site.url }}'>{{ site.title }}</a>
    <ul id='nav-links' class='alignable pull-right nav-ul'>
        <li class='alignable pull-left nav-li'><a href='/projects'>Projects</a></li>
        <li class='alignable pull-left nav-li'><a href='/contact'>Contact</a></li>
        <li class='alignable pull-left nav-li'><a href="https://github.com/{{ site.accounts.github }}"
                target="_blank">Code</a></li>
    </ul>
</div>

<!-- prevent design from breaking -->
<div style='clear: both'></div>
<hr class="wrap">