<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.title == site.title %}
    <title>{{ site.title }}</title>
    {% else %}
    <title>{{ site.title }} | {{ page.title }}</title>
    {% endif %}

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/rouge.css">
    {% if page.katex %}
    {% include katex.html %}
    {% endif %}
</head>

<body>
    {% include nav.html %}
    <div class='wrap'>
        {% if page.project %}
        <div>
            <h2>{{ page.title }}</h2>
            <p class="project_date">PUBLISHED<br>
                {{ page.date | date: "%-d %B %Y" | upcase}}
            </p>
        </div>

        <!-- reused code from /projects.html -->
        <div class='clean-ul'>
            <ul class="project-links horizontal-li">
                {% if page.github %}
                <li><a href="{{ page.github }}" target="_blank">Code</a></li>
                {% endif %}
                {% if page.paper %}
                {% assign proj_url = page.url | remove: "/index/" %}
                <li><a href="{{ proj_url}}/{{ page.paper }}" target="_blank">Paper</a></li>
                {% endif %}
            </ul>
        </div>
        <hr>
        {% endif %}
        <div>{{ content }}</div>
    </div>
</body>

</html>