<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {% include nav.html %}
    <div class='wrap'>
        {% if page.type == 'project' %}
        <div>
            <h2>{{ page.title }}</h2>
            <p class="project_date">PUBLISHED<br>
                {{ page.date | date: "%-d %B %Y" | upcase}}
            </p>
        </div>
        <hr>
        {% endif %}
        <div>{{ content }}</div>
    </div>
</body>

</html>